@import "mixin/base_setting";
.flickity-enabled {
	position: relative;
}
.flickity-enabled:focus { outline: none; }

.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	will-change:transform;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 34px;
  line-height: 1;
  color: #000;
  border: none;
  cursor: pointer;
  background: none;
  margin-top: -10px;
  z-index: 150;
  font-size: 35px;
  text-align: center;
  @include transition(all 0.35s);
  &:after{
      @extend %fontello;
  }
  &.next {
      right: 0;
      left: auto;
      &:after{
          content: '\E812';
      }
  }
}
%flickityNavDark{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90px;
  width: 214px;
  overflow: hidden;
  padding: 0 30px 0 58px;
  &:before{
    content: '\0020';
    position: absolute;
    top: 0;
    left: 0;
    background: #21222e;
    width: 100%;
    height: 100%;
    @include transform(skew(-18deg));
    @include transform-origin(0 100%);
  }
  .flickity-prev-next-button{
    position: relative;
    font-size: 25px;
    left: 0 !important;
    right: auto !important;
    top: 0 !important;
    float: left;
    width: 50%;
    text-align: center;
    color: #fff;
    height: inherit;
    &:disabled{
      @include opacity(0.4);
    }
    &:not(:disabled){
      &:hover{
        color: #ffdd55;
      }
    }
  }
}
%flickButton1{
  margin-left: 10px;
  border-radius: 3px;
  background-color: #27375d;
  height: 35px;
  width: 58px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color: #fff;
  @include transition(all 0.35s);
  &:disabled{
    @include opacity(0.4);
  }
  &:not(:disabled){
    &:hover{
      background: #ffdd55;
      color: #333;
    }
  }
}

.flickity-prev-next-button:active {
	opacity: 0.6;
}

.flickity-prev-next-button.previous { 
	&:after{
		content: '\E813';
	} 
}
.flickity-prev-next-button:disabled {
	opacity: 0.3;
	cursor: auto;
}

.flickity-prev-next-button svg {
	display: none;
}

.flickity-prev-next-button .arrow {
	fill: #54b151;
}

.flickity-nav{
  .flickity-prev-next-button{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
  &.small{
    .flickity-prev-next-button{
      background: #21252e;
      @extend %flickButton1;
      &:first-child{
        margin-left: 0;
      }
    }
  }
}
.flickity-page-dots {
  padding: 0;
  margin: 0;
  list-style: none;
  > li{
    @include transition(all 0.35s);
    &.is-selected{
      background-color: #fff;
    }
  }
}
%flickityDots{
  padding-top: 30px;
  line-height: 0;
  text-align: center;
  > li{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 4px 8px 4px;
    vertical-align: middle;
    background: #ffdd55;
    @include border-radius(10px);
    &.is-selected{
      background: #333;
    }
  }
}
.flickity-page-dots .dot.is-selected {
	opacity: 1;
}
.flick-rcall{
  border: solid 2px rgba(241,241,243,0.05);
  .flickity-prev-next-button{
    @extend %flickButton1;
  }
  .flickity-nav{
    right: 0;
    display: inline-block;
    position: absolute;
    padding: 0 20px 0 0;
    bottom: -18px;
    .flickity-prev-next-button{
      &:not(:last-child){
        margin-right: 8px;
      }
    }
  }
}
.flick-rcall-item{
  width: 100%;
}
.flick-lease-item{
  width: 100%;
}
.flick-promo{
  margin-bottom: 50px;
  .flickity-page-dots{
    display: none;
    @extend %flickityDots;
  }
  .flickity-nav{
    @extend %flickityNavDark;
  }
}
.flick-promo-item{
  width: 100%;
  line-height: 0;
  img{
    width: 100%;
    height: auto;
  }
}
.flick-pjx{
  background: #21222e;
  color: #fff;
  margin-bottom: 40px;
}
.flick-pjx-item{
  width: 100%;
}
.pjx{
  overflow: hidden;
  height: 100%;
  width: 100%;
  min-height: 400px;
  position: relative;
  text-decoration: none;
  display: block;
  color: #fff;
}


.pjx_content{
  width: 100%;
  position: relative;
  padding: 30px;
}
.pjx_img{
  line-height: 0;
  img{
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 770px){
  .pjx_content{
    max-width: 546px;
    height: 100%;
    padding: 30px 40px 50px 40px;
    .pjx-src{
      position: absolute;
      left: 40px;
      bottom: 30px;
    }
  }
  .pjx_img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    @include calc('width', 100% - #{546px});
    img{
      width: auto;
      height: 100%;
      max-width: 99999px;
    }
    b{
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @include transform(skew(-20deg));
      img{
        @include transform(skew(20deg));
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
      &, img{
        @include transform-origin(0 100%);
      }
    }
  }
}
.flick-pjx{
  .flickity-nav{
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: inline-block;
    .flickity-prev-next-button{
      background: #21252e;
      @extend %flickButton1;
      &:first-child{
        margin-left: 0;
      }
    }
  }
}
.pjx-badge{
  margin-bottom: 40px;
}
.pjx-meta{
  line-height: 1.54;
  font-size: 13px;
  margin-bottom: 20px;
  @include opacity(0.8)
}
.pjx-src{
  text-transform: uppercase;
  letter-spacing: 1.1px;
  @include opacity(0.3);
  font-size: 13px;
}

.flick-goods{
  margin:0 -9px 0px -9px;
}
.flick-goods-cy{
  &:after{
    content: '\0020';
    height: 1px;
    display: block;
    margin-top: -25px;
  }
  .flick-goods-item{
    padding-bottom: 25px;
  }
}
.flick-goods-item{
  width: 20%;
  padding: 0 9px;
  .cy-goods{
    height: 100%;
  }
}
.flick-gpic{
  margin: 44px 0 15px 0;
  .flickity-prev-next-button{
    width: 58px;
    height: 35px;
    border-radius: 3px;
    background-color: #21222e;
    color: #fff;
    text-align: center;
    font-size: 15px;
    &:not(:disabled){
      &:hover{
        color: #333;
        background: #ffdd55;
      }
    }
  }
}
.flick-gpic-item{
  width: 100%;
  padding: 0 20px;
  line-height: 0;
  text-align: center;
  img{
    max-height: 362px;
  }
}

.flick-image{
  .flickity-nav{
    position: absolute;
    bottom: 10px;
    right: 10px;
    .flickity-prev-next-button{
      background: #21222e;
      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }
  .flickity-prev-next-button{
    @extend %flickButton1;
  }
}
.flick-image-item{
  width: 100%;
  line-height: 0;
  img{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1240px){
  .flick-goods-item{
    width: 25%;
  }
}
@media screen and (max-width: 1020px){
  .flick-goods-item{
    width: 33.333%;
  }
  .flick-promo{
    .flickity-nav{
      height: 55px;
      width: 160px;
      padding-left: 42px;
      .flickity-prev-next-button{
        font-size: 19px;
      }
    }
  }
}
@media screen and (max-width: 770px){
  .flick-pjx .flickity-nav{
    position: static;
    padding: 30px;
    padding-top: 0;
    .flickity-prev-next-button{
      background: #27375d;
    }
  }
  .pjx-badge{
    margin-bottom: 30px;
  }
  .pjx{
    min-height: 0;
  }
}
@media screen and (max-width: 760px){
  .flick-goods-item{
    width: 50%;
  }
  .flick-gpic{
    .flickity-prev-next-button{
      bottom: 0;
      top: auto;
      margin: 0;
      width: 27px;
    }
  }

}
@media screen and (max-width: 540px){
  .flick-goods-item{
    width: 100%;
  }
  .flick-promo{
    margin-bottom: 30px;
    .flickity-nav{
      display: none;
    }
    .flickity-page-dots{
      display: block;
    }
  }
  .pjx_content{
    padding: 20px;
  }
  .flick-pjx .flickity-nav{
    padding: 20px;
    padding-top: 0;
  }
}