@import "mixin/base_setting";

$arrowColor: #fff;

.tooltipster-base {
  display: flex;
  pointer-events: none;
  position: absolute;
  &.height-auto{
    height: auto !important;
  }
}

.tooltipster-box {
  flex: 1 1 auto;
}

.tooltipster-content {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.tooltipster-content::-webkit-scrollbar{width:3px;height:1px}
.tooltipster-content::-webkit-scrollbar-track,::-webkit-scrollbar-corner{background:#ccc}
.tooltipster-content::-webkit-scrollbar-thumb{background:#58595b;}
.tooltipster-content::-webkit-scrollbar-thumb:hover{background:#58595b}
.tooltipster-content::-webkit-scrollbar-button,::-webkit-scrollbar-corner,::-webkit-resizer{display: none;}
.tooltipster-ruler {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
}

/* ANIMATIONS */

/* Open/close animations */

/* fade */

.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
.tooltipster-fade.tooltipster-show {
  opacity: 1;
}

/* grow */

.tooltipster-grow {
  -webkit-transform: scale(0,0);
  -moz-transform: scale(0,0);
  -o-transform: scale(0,0);
  -ms-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}
.tooltipster-grow.tooltipster-show {
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -o-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

/* swing */

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}
.tooltipster-swing.tooltipster-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

/* fall */

.tooltipster-fall {
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-fall.tooltipster-initial {
  top: 0 !important;
}
.tooltipster-fall.tooltipster-show {
}
.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0 !important;
  opacity: 0;
}

/* slide */

.tooltipster-slide {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-initial {
  left: -40px !important;
}
.tooltipster-slide.tooltipster-show {
}
.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0 !important;
  opacity: 0;
}

/* Update animations */

/* We use animations rather than transitions here because
 transition durations may be specified in the style tag due to
 animationDuration, and we try to avoid collisions and the use
 of !important */

/* fade */

@keyframes tooltipster-fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltipster-update-fade {
  animation: tooltipster-fading 400ms;
}

/* rotate */

@keyframes tooltipster-rotating {
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0);
  }
}

.tooltipster-update-rotate {
  animation: tooltipster-rotating 600ms;
}

/* scale */

@keyframes tooltipster-scaling {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.tooltipster-update-scale {
  animation: tooltipster-scaling 600ms;
}

/**
 * DEFAULT STYLE OF THE SIDETIP PLUGIN
 *
 * All styles are "namespaced" with .tooltipster-sidetip to prevent
 * conflicts between plugins.
 */

/* .tooltipster-box */

.tooltipster-sidetip .tooltipster-box {
  background-color: #ffffff;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}
.tooltipster-border-radius .tooltipster-box{
  border-radius: 40px;
}
.tooltipster-sidetip.-border .tooltipster-box{
  border: 1px solid #d0d0d0;
}
.tooltipster-sidetip.-border .tooltipster-arrow-border{
  display: block !important;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
  margin-top: 13px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-box {
  margin-right: 13px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-box {
  margin-left: 13px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  margin-bottom: 13px;
}

/* .tooltipster-content */
.tooltipster-order-status{
  font-size: 15px;
}
.tooltipster-sidetip .tooltipster-content {
  line-height: 1.43;
  padding: 30px 40px;
  font-size: 14px;
  position: relative;
  z-index: 10;
}
.tooltipster-sidetip .tooltipster-content .tooltipster-content-offset{
  margin: 0 -40px 17.5px -40px;
  padding: 17.5px 40px 0 40px;
}
.tooltipster-content-offset.-border{
  border-top: solid 1px #dadada;
}
.tooltipster-html *:last-child, .tooltipster-sidetip .tooltipster-content *:last-child{
  margin-bottom: 0;
}
.tooltipster-base{
  &.close-hidden{
    .tooltipster-close{
      display: none;
    }
  }
}
.tooltipster-close{
  font-size: 14px;
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 19px;
  z-index: 15;
}
.tooltipster-close:hover{
  color: #333;
}
.tooltipster-sidetip .tooltipster-arrow {
  overflow: hidden;
  position: absolute;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
  height: 13px;
  margin-left: -10px;
  top: 0;
  width: 30px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
  height: 20px;
  margin-top: -10px;
  right: 0;
  /* top 0 to keep the arrow from overflowing .tooltipster-base when it has not
  been positioned yet */
  top: 0;
  width: 10px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
  height: 20px;
  margin-top: -10px;
  left: 0;
  /* same as .tooltipster-left .tooltipster-arrow */
  top: 0;
  width: 10px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
  bottom: 0;
  height: 10px;
  margin-left: -10px;
  width: 20px;
}

/* common rules between .tooltipster-arrow-background and .tooltipster-arrow-border */

.tooltipster-sidetip .tooltipster-arrow-background, .tooltipster-sidetip .tooltipster-arrow-border {
  height: 0;
  position: absolute;
  width: 0;
}

/* .tooltipster-arrow-background */

.tooltipster-sidetip .tooltipster-arrow-background {
  border: 15px solid transparent;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: $arrowColor;
  left: 0px;
  top: -5px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
  border-left-color: $arrowColor;
  left: -1px;
  top: 0px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
  border-right-color: $arrowColor;
  left: 1px;
  top: 0px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: $arrowColor;
  left: 0px;
  top:1px;
}

/* .tooltipster-arrow-border */

.tooltipster-sidetip .tooltipster-arrow-border {
  display: none;
  border: 10px solid transparent;
  left: 0;
  top: -1px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #D9D9D9;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
  border-left-color: #D9D9D9;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
  border-right-color: #D9D9D9;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #D9D9D9;
}

/* tooltipster-arrow-uncropped */

.tooltipster-sidetip .tooltipster-arrow-uncropped {
  position: relative;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -10px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
  left: -10px;
}


.tooltipster-html{
  display: none;
}
.tooltipster-box .tooltipster-html{
  display: block;
}
/*
.tooltipster-base{
	z-index: 1300 !important;
}*/

@media screen and (max-width: 1000px) {
  .tooltipster-all-device {
    position: fixed !important;
  //  max-width: 100% !important;
    max-height: 100% !important;
    min-width: 0 !important;
   // width:-moz-calc(100% - 20px) !important;
   // width:-webkit-calc(100% - 20px) !important;
  //  width:calc(100% - 20px) !important;
    left: 10px !important;
    top: 50% !important;
    right: 10px !important;
    bottom: auto !important;
    margin: 0 auto !important;
    transform: translateY(-50%);
    .tooltipster-box{
      margin: 0 !important;
    }
    .tooltipster-close{
      top: 7px;
      display: block !important;
    }
  }
  .tooltipster-all-device .tooltipster-arrow{
    display: none;
  }

}
@media screen and (max-width: 440px) {
  .tooltipster-sidetip .tooltipster-content{
    padding-left: 18px;
    padding-right: 18px;
  }
}