@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?48903999');
  src: url('../fonts/fontello/fontello.eot?48903999#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?48903999') format('woff2'),
       url('../fonts/fontello/fontello.woff?48903999') format('woff'),
       url('../fonts/fontello/fontello.ttf?48903999') format('truetype'),
       url('../fonts/fontello/fontello.svg?48903999#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 ._icon-a:before{
  margin-left: 5px;
 }
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: '\e800'; } /* '' */
.icon-paper-plane:before { content: '\e801'; } /* '' */
.icon-play-circled:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-odnoklassniki:before { content: '\e804'; } /* '' */
.icon-mail-group:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-email:before { content: '\e807'; } /* '' */
.icon-minus:before { content: '\e808'; } /* '' */
.icon-vk:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-phone-fill:before { content: '\e80b'; } /* '' */
.icon-close:before { content: '\e80c'; } /* '' */
.icon-doc:before { content: '\e80d'; } /* '' */
.icon-google-plus:before { content: '\e80e'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-star-filled:before { content: '\e810'; } /* '' */
.icon-fax:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-up-open:before { content: '\e814'; } /* '' */
.icon-down-open:before { content: '\e815'; } /* '' */
.icon-pencil:before { content: '\e816'; } /* '' */
.icon-play:before { content: '\e817'; } /* '' */
.icon-clock-1:before { content: '\e818'; } /* '' */
.icon-eye:before { content: '\e819'; } /* '' */
.icon-x-left-open:before { content: '\e81a'; } /* '' */
.icon-plus-x:before { content: '\e81b'; } /* '' */
.icon-x-right-open:before { content: '\e81c'; } /* '' */
.icon-youtube:before { content: '\e81d'; } /* '' */
.icon-play-x:before { content: '\e81e'; } /* '' */
.icon-download-lx:before { content: '\e81f'; } /* '' */
.icon-download:before { content: '\e820'; } /* '' */
.icon-instagram:before { content: '\e821'; } /* '' */
.icon-telegram:before { content: '\e822'; } /* '' */
.icon-mw:before { content: '\e823'; } /* '' */
.icon-x-up-open:before { content: '\e824'; } /* '' */
.icon-x-down-open:before { content: '\e825'; } /* '' */
.icon-phone:before { content: '\e826'; } /* '' */
.icon-location:before { content: '\e827'; } /* '' */
.icon-left:before { content: '\e828'; } /* '' */
.icon-right:before { content: '\e829'; } /* '' */
.icon-pause:before { content: '\e82a'; } /* '' */
.icon-to-start:before { content: '\e82b'; } /* '' */
.icon-to-end:before { content: '\e82c'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */