<ul class="search-ul">
    <li>
        <a href="#" class="search-ul-item -category">
            <div class="fx fx-ai-center">
                <div class="search-ul-item-img">
                    <img src="images/content/search/1.png"/>
                </div>
                <div class="search-ul-item-data">
                    <div class="search-ul-item-name">Дрели ударные</div>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="search-ul-item -category">
            <div class="fx fx-ai-center">
                <div class="search-ul-item-img">
                    <img src="images/content/search/1.png"/>
                </div>
                <div class="search-ul-item-data">
                    <div class="search-ul-item-name">Дрели ударные</div>
                </div>
            </div>
        </a>
    </li>
    <li>
        <div class="search-ul-item">
            <div class="fx fx-ai-center">
                <a href="#" class="search-ul-item-img">
                    <img src="images/content/search/1.png"/>
                </a>
                <div class="search-ul-item-data">
                    <a href="#" class="search-ul-item-name">Дрель ударная Kolner KID 550V, 550Вт</a>
                    <div class="search-ul-item-price fx fx-wrap">
                        <a href="#">Аренда от 350 р</a>
                        <a href="#">Покупка 1500 р</a>
                        <a href="#">Ремонт от 70 р</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="search-ul-item">
            <div class="fx fx-ai-center">
                <a href="#" class="search-ul-item-img">
                    <img src="images/content/search/1.png"/>
                </a>
                <div class="search-ul-item-data">
                    <a href="#" class="search-ul-item-name">Дрель ударная Kolner KID 550V, 550Вт</a>
                    <div class="search-ul-item-price fx fx-wrap">
                        <a href="#">Аренда от 350 р</a>
                        <a href="#">Покупка 1500 р</a>
                        <a href="#">Ремонт от 70 р</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

<!-- ============== -->